@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');


body {
    font-family: "Science Gothic", sans-serif;
    background: #f3f3f3;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

textera {
    width: 100%;
    width: 120px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

button {
    padding: 12px;
    margin: 5px 0;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
}

button.danger {
    background-color: #f44336;
}


select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;

}